a#project-item-datasense {
    background-color: rgba(51, 102, 153, 0.8);
}
a#project-item-datasense:hover {
    background-color: rgb(51, 102, 153);
}
a#project-item-langpack {
    background-color: rgba(51, 56, 150, 0.8);
}
a#project-item-langpack:hover {
    background-color: rgb(51, 56, 150);
}
a#project-item-hje {
    background-color: rgba(100, 51, 150, 0.8);
}
a#project-item-hje:hover {
    background-color: rgb(100, 51, 150);
}
a#project-item-chemistry {
    background-color: rgba(51, 150, 128, 0.8);
}
a#project-item-chemistry:hover {
    background-color: rgb(51, 150, 128);
}
